html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    background-color: #E9EFEC; /* Couleur de fond claire */
    color: #16423C; /* Couleur principale du texte */
}

/* En-tête */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #16423C; /* Couleur principale */
    color: #E9EFEC; /* Texte clair */
    padding: 20px 40px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Logo à gauche */
header .logo {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
}

header .logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Menu de navigation */
header nav ul li a {
    text-decoration: none;
    color: #E9EFEC; /* Texte clair */
    font-weight: bold;
    transition: color 0.3s;
    font-size: 18px;
}

header nav ul li a:hover {
    color: #6A9C89; /* Couleur d'accent */
}

/* Sidebar */
#sidebar {
    background-color: #6A9C89; /* Couleur secondaire */
}

#sidebar ul li a {
    color: #E9EFEC; /* Texte clair */
}

/* Sections principales */
section {
    margin-bottom: 40px;
    padding: 40px;
    background-color: #C4DAD2; /* Couleur claire pour le contenu */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Titres des sections */
.text h3 {
    color: #16423C; /* Couleur principale */
}

/* Liens dans les sections */
.text p a {
    color: #6A9C89; /* Couleur d'accent */
    text-decoration: underline;
}

.image img {
    border: 2px solid #C4DAD2; /* Contour des images */
}

/* Projets */
.project-header {
    background-color: #16423C; /* Couleur principale */
    color: #E9EFEC; /* Texte clair */
}

.project-item:hover img {
    filter: brightness(80%);
}
